body{
  font-family: 'Inter' !important;
  background-color: #F2F4F6 !important;
}
.active-navbar{
  font-weight: bold;
}
.vh-90{
  height: 90vh !important;
}
.fs-7{
  font-size: 0.90rem;
}
.pointer{
  cursor: pointer;
}